body{
    padding-left: 100px;
    padding-right: 100px;

}
h1{
    text-align: center;
    background-image: url("https://image.freepik.com/vector-gratis/bosque-pinos-oscuros_7993-2618.jpg");
    padding-bottom: 50px;
    padding-top: 50px;
    color: black;
    letter-spacing: 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
#cap{
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    height: 20%;
    border: black;
    border-width: 2px;
    border-style: solid;
    float: left;
    background-color: grey;
    color: white;
    text-align: center;
}
#especies{
    background-image: url("https://cdn.pixabay.com/photo/2017/03/03/02/57/moon-2113156_960_720.jpg");
    color: white;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;

}
#top{
    text-align: center;
    background-image: url("https://image.freepik.com/vector-gratis/bosque-pinos-oscuros_7993-2618.jpg");
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    letter-spacing: 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
img{
    width: 200px;
    height: 125px;
}
#cuadre1{
    border: black;
    float: left;
    text-align: center;
}
#cuadre2{
    border: black;
    float: left;
    text-align: center;
}
#cuadre3{
    border: black;
    text-align: center;
}
#cuadros{
    border-width: 2px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: darkgrey;
}
#bibi{
    text-align: center;
    background-image: url("https://image.freepik.com/vector-gratis/bosque-pinos-oscuros_7993-2618.jpg");
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    letter-spacing: 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
#llic{
    color: black;
    float: left;
    background-color: darkgrey;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
#seg{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    float:right;
    color: black;
    background-color: darkgrey;
    border: black;
    border-width: 2px;
    border-style: solid;
}
@media (max-width: 600px) {
    #figure2{
        display: none;
    }
}